.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# Don't sync any content.
# Content will be synced from the Obsidian vault repo when building the site.
content
content/
